
body{
  margin: 0px;
  text-align: center;

}
h3{
    color: #11999E;
}
h2{
    color: #66BFBF;
    font-family: 'Qwitcher Grypen', cursive;
    font-size: 200%
    font-weight : normal;
}
p{

}
h1{
  line-height: 2;
  color: #66BFBF;
  margin-top: 0;
  font-size: 400%;
  font-family: 'Qwitcher Grypen', cursive;
}

.top-container
{
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}
.middle-container{
  text-align: left;
}
.bottom-container{
text-align: center;
  background-color: #66BFBF;
  line-height: 5;
  margin-bottom: 0px;
}
.footer-link{
  color: #11999E;

}
.bottom-cloud{
position: absolute;
left: 350px
}
.top-cloud{
position: absolute;
right: 350px;
top: 50px;
}
.circular
{

}
.elhanan{
  background-color: blue;
  border-radius: 100%;
  margin: auto 0px auto 0px;
}
.profile{
  width: 50%;
  margin: 100px auto 100px auto;
  line-height: 1.8;
}
.Education{
  width: 50%;
  margin: 50px auto 50px auto;
  line-height: 1.8;
}
.Military{
  width: 50%;
  margin: 50px auto 50px auto;
  line-height: 1.8;
}
.skills{
  width: 50%;
  margin: 50px auto 50px auto;
  line-height: 1.8;
}
.Awards{
  width: 50%;
  margin: 50px auto 50px auto;
  line-height: 1.8;
}
.contact-me{
  width: 50%;
  margin: 0px auto 0px auto;
  text-align: center;
}
}
.education{
  width: 25%;
  margin-right: 30px;
}
.soldier{
  width: 25%;
    margin-right: 30px;
}
.tools{
  width: 25%;
    margin-right: 30px;
}
.certificate{
  width: 25%;

}
.end{
  color:#EAF6F6;
}
