
body{
  margin: 0px;
  text-align: center;

}
h1{
  margin-top: 0;
  font-size: 50px;
  font-family: 'Qwitcher Grypen', cursive;
}
.top--container
{
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}
.middle-container{

}
.bottom-container{

}

.bottom-cloud{
position: absolute;
}
.top-cloud{
position: absolute;
right: 350px;
top: 50px;


}
